aws_region   = "us-east-1"
project_name = "oficina-mecanica"
environment  = "prod-simulated"

# Remote State
aws_base_state_bucket = "bkt-oficina-mecanica"
aws_base_state_key    = "infra/prod-simulated/infra-base/terraform.tfstate"
aws_base_state_region = "us-east-1"

# RDS PostgreSQL Configuration
db_engine_version        = "16.9"
db_instance_class        = "db.t4g.micro"
db_allocated_storage     = 20
db_max_allocated_storage = 20
db_name                  = "techchallenge"
db_username              = "techchallenge"
db_port                  = 5432
multi_az                 = false
backup_retention_period  = 0
skip_final_snapshot      = true
